﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody() @*this is like the router outlet + component selector from Angular. This renders the passed in content*@
	</div>
	<footer >
		This only shows up on the pages that initialize the footer :: @RenderSection("footer", required:false) @*the page that will be rendered here needs to use the same name as the render section's name, "footer" in this case*@
	</footer>
	<div>
		This shows up on every page that inherits this layout page :: @await Component.InvokeAsync( "Hero" )
		<vc:hero></vc:hero>
	</div>
	<div>
		From the main layout page :: @DateTime.Now.Year
	</div>
	@{
		if( User.Identity.IsAuthenticated )
		{
			foreach( var id in User.Identities )
			{
				<h3>@id.Name</h3>
				<ul>
					@foreach( var claim in id.Claims )
					{
						<li>@claim.Type - @claim.Value</li>
					}
				</ul>
				
			}
		}
		else
		{
			<div>Who are you</div>
		}
	}
</body>
</html>
