﻿@page "{id}"
@using WebAPITutorial.Pages.Heroes
@model EditModel

@{
}

<h1>Edit Hero</h1>

<form method="post">
	@*2 different ways to bind input to property. Second option is preferred*@
	@*<input type="text" name="name" value="" /> @*the name attribute indicates what this input is for*@

	<input type="hidden" asp-for="Hero.ID" />
	<div>
		<label asp-for="Hero.Name"></label>
		<input asp-for="Hero.Name" />
		<span asp-validation-for="Hero.Name"></span>
	</div> @*this will automatically bind the input value to the name property of the Model*@
	<div>
		<label asp-for="Hero.Type"></label>
		<select asp-for="Hero.Type" asp-items="@Html.GetEnumSelectList<HeroType>()"></select>
		<span asp-validation-for="Hero.Type"></span>
	</div>

	<input type="submit" name="save" value="Save" />
</form>
<div asp-validation-summary="All"></div>