﻿@model Hero

<section>

	<h1>@Model.Name</h1>
	<div>

	</div>
	<div>
		<a asp-action="About" asp-route-id="@Model.ID">More</a> @*asp-route-id is the key value and hero.ID is the value for the id key to pass in to this link*@
		<a asp-page="/Heroes/Edit" asp-route-id="@Model.ID">Edit</a>
	</div>
</section>