﻿@model Hero
@{
	ViewBag.Title = Model.Name;
}

<div>
	<h1>Name: @Model.Name</h1>
	<h2>@Model.DOB</h2>
	<h3>ID : @Model.ID</h3>
	<h4>@Model.Power</h4>
	<h5>Type: @Model.Type</h5>
	<a asp-action="Index" asp-controller="Hero">Home</a>@*Go back to Home link. give it the controller name and the action method to look for*@
</div>

