﻿@model Hero
@{
	ViewBag.Title = "Create";
}
<h1>Create Hero</h1>

<form method="post">
	@*2 different ways to bind input to property. Second option is preferred*@
	@*<input type="text" name="name" value="" /> @*the name attribute indicates what this input is for*@
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" />
		<span asp-validation-for="Name"></span>
	</div> @*this will automatically bind the input value to the name property of the Model*@
	<div>
		<label asp-for="Type"></label>
		<select asp-for="Type" asp-items="@Html.GetEnumSelectList<HeroType>()"></select>
		<span asp-validation-for="Type"></span>
	</div>

	<input type="submit" name="save" value="Save" />
</form>

<a asp-action="Index" asp-controller="Hero">Home</a>
<div asp-validation-summary="All"></div>

