﻿@{
	ViewBag.Title = "Home Page";
}
@model HomeIndexViewModel

@foreach( var hero in Model.Heroes )
{
	@Html.Partial( "_Summary", hero )
}

<div>
	<a asp-action="Create">Add Hero</a>
</div>


@section footer{
	@Model.CurrentMessage
}


