﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>@ViewBag.Title</title>
</head>
<body>
	<div>
		@RenderBody() @*this is like the router outlet + Component selector from Angular. This renders the passed in content*@
	</div>
	<footer>
		@RenderSection( "footer", required: false ) @*the page that will be rendered here needs to use the same name as the render section's name, "footer" in this case*@
		@*@await Component.InvokeAsync("Hero")*@
		<vc:hero></vc:hero>
	</footer>
	<div>
		@DateTime.Now.Year
	</div>
</body>
</html>
